---
---

@import "{{ site.theme }}";

body {
  background-color: {{ site.ornl_theme.primary_bg }};
  color: {{ site.ornl_theme.primary_fg }};
}

a {
  color: {{ site.ornl_theme.accent_green }};
}

a:hover {
  color: {{ site.ornl_theme.accent_yellow }};
}

.site-header {
  background-color: {{ site.ornl_theme.nav_bg }};
  color: {{ site.ornl_theme.nav_fg }};
  border-bottom: 2px solid {{ site.ornl_theme.accent_green }};
}

.site-footer {
  background-color: {{ site.ornl_theme.footer_bg }};
  color: {{ site.ornl_theme.footer_fg }};
}
